<div class="container-fluid">
    <h1> Enter a crypto currency to search for:</h1>

    <br>

    <form>
        <div class="form-group">
            <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                    <input ng-model="model.searchQuery"
                        type="text"
                        class="form-control"
                        placeholder="Coin name (eg. Bitcoin, Litecoin, Ripple)"
                        id="username"
                        name="username">
            </div>
        </div>

        <button ng-click="model.searchForCoin(model.searchQuery)" class="btn btn-block btn-primary">Enter Search</button>
    </form>

   

    <br>
    <ul ng-show="model.searchResult" style="padding: 0;">
        <li ng-repeat="result in model.searchResult" class="list-group-item">
            <a href="#!/details/{{result}}">
                {{result}}
            </a>
        </li>
    </ul>

    <!-- <ul>
        <li ng-repeat="coinid in model.coinids" class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    {{coinid}}
                </div>
            </div>
        </li>
    </ul> -->


</div>