<navbar currentuser="model.currentUser"></navbar>

<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <div class="ui-widget">
                <input type="text" id="search" name="search" placeholder="SEARCH FOR A COIN">
            </div>
        </div>
    </div>
    <hr>

    <portfolio ng-show="model.currentUser" currentuser="model.currentUser"></portfolio>

    <hr>

    <h2 class="text-center">Top Twelve Currencies in USD</h2>
    
    <div class="row">
        <div ng-repeat="coin in model.topTwelve" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="panel" ng-class="{ 'panel-danger': coin.percent_change_24h < 0, 'panel-success': coin.percent_change_24h >= 0}">
                <div class="panel-heading">
                    {{coin.id | uppercase}}
                    <div class="pull-right">[{{coin.symbol | uppercase}}]</div>
                </div>
                <div class="panel-body">
                    <h2>${{coin.price_usd}}</h2>
                    <strong ng-class="{ 'text-danger': coin.percent_change_24h < 0, 'text-success': coin.percent_change_24h >= 0}">[{{coin.percent_change_24h}}%]</strong>
                    
                </div>
            </div>  
        </div>
    </div>

    <hr>

</div>